RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(\w+)$ $1.php [L]
RewriteRule ^(\w+)\/(\w+)$ $1/$2.php [L]
RewriteRule ^(([a-zA-Z0-9])*\/?)*$ index.php [L]